.rm-settings  input[type="number"].self-destruct-input {
    background-color: #182026;
    border: 1px #394B59 solid;
    border-radius: 5px;
    padding: 7px 10px;
    color: white;
}

span.rm-page-ref--tag[data-tag="self-destruct"]:before,
span[data-link-title="self-destruct"]:before{
    content: 'â± ';
}
